{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
   <h1>Overview</h1>

  <table>
    <tr><td>Device</td>   <td>{{ data.device }}</td></tr>
    <tr><td>Customer</td> <td>{{ data.customer }}</td></tr>
    <tr><td>Site</td>     <td>{{ data.site }}</td></tr>
    <tr><td>Comment</td>  <td>{{ data.comment }}</td></tr>
  </table>

   <form action="/esp-status" method="POST">
      <!-- Button to trigger Python script -->
       <button type="submit">Get and Save ESP Status</button>
       </form>

   <p>{{ content }}</p>

   <!-- Display the result of the script -->
    {% if result %}
        <h2>Result</h2>
        <p>
          <small>
          <pre>
{{ result }}
          </pre>
          </small>
        </p>
    {% endif %}

{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
