{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
   <p>{{ content }}</p>
   <h1>Setup</h1>

   <form action="/setup" method="POST">
     <table>
       <tr>
         <td>Device</td>
         <td><input type="text" name="device" value="{{ data.device }}" /></td>
       </tr>
       <tr>
         <td>Customer</td>
         <td><input type="text" name="customer" value="{{ data.customer }}" /></td>
       </tr>
       <tr>
         <td>Site:</td>
         <td><input type="text" name="site" value="{{ data.site }}" /></td>
       </tr>
       <tr>
         <td>Comment:</td>
         <td><textarea name="comment" id="" rows="5" cols="40" tabindex="">{{ data.comment }}</textarea></td>
       </tr>
     </table>
     <button type="submit">Submit</button>
   </form>

   <!-- Display the result of the script -->
    {% if result %}
        <h2>Result</h2>
        <p>
          <pre>
{{ result }}
          </pre>
        </p>
    {% endif %}

{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock %}
